@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--primary-color: #ff46ac;
	--bg: #14192c;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
	font-weight: 400;
	background-color: var(--bg);
	color: #fff;
}

/* Navbar */
.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem 10%;
	background-color: #131b40;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.navbar-container .logo {
	color: var(--primary-color);
	font-size: 2rem;
	font-weight: 700;
}

.navbar-container .logo span {
	color: #fff;
}

.navbar-container .navbar-nav a {
	color: #fff;
	gap: 1rem;
	font-size: 1.2rem;
	font-weight: 500;
	display: inline-block;
	margin: 0 1rem;
}

.navbar-container .navbar-nav a::after {
	content: '';
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.2rem solid var(--primary-color);
	transform: scaleX(0);
	transition: 0.2s linear;
}

.navbar-container .navbar-nav a:hover::after {
	transform: scaleX(0.5);
}

.navbar-container .navbar-extra a {
	color: #fff;
	font-size: 1.2rem;
	margin: 0 0.5rem;
}

.navbar-container .navbar-extra a:hover {
	color: var(--primary-color);
}

#hamburger {
	display: none;
}

.navbar-container .search-form {
	position: absolute;
	top: 100%;
	right: 10%;
	width: 30rem;
	height: 5rem;
	display: flex;
	border-radius: 12px;
	align-items: center;
	background-color: #131b40;
	margin-top: 1rem;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
}

.navbar-container .search-form.active {
	transform: scaleY(1);
}

.navbar-container .search-form input {
	height: 100%;
	width: 100%;
	font-size: 1.3rem;
	background-color: #131b40;
	border-radius: 12px;
	color: #fff;
	padding: 1rem;
}

.navbar-container .search-form .search-label {
	color: #fff;
	cursor: pointer;
	font-size: 1.4rem;
	margin-right: 1rem;
}

.shopping-cart {
	position: absolute;
	top: 100%;
	right: -100%;
	width: 30rem;
	height: 100vh;
	background-color: #131b40;
	transition: 0.3s;
}

.shopping-cart .cart-items {
	margin: 2rem 1.5rem;
	display: flex;
	align-items: center;
	position: relative;
	gap: 1rem;
	padding-bottom: rem;
	border-bottom: 1px solid var(--primary-color);
}

.shopping-cart img {
	height: 6rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.shopping-cart h3 {
	font-size: 1.3rem;
	padding-bottom: 0.8rem;
}

.shopping-cart .item-price {
	font-size: 1.1rem;
}

.shopping-cart .remove-item {
	font-size: 1.2rem;
	cursor: pointer;
	position: absolute;
	right: 1rem;
}

.shopping-cart.active {
	right: 0;
}

.shopping-cart .remove-item:hover {
	color: var(--primary-color);
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.hero .content {
	text-align: center;
}

.hero .content h1 {
	font-size: 5rem;
}

.hero .content span {
	color: var(--primary-color);
}

.hero .content p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.hero .content a {
	background-color: var(--primary-color);
	padding: 1rem 2rem;
	font-size: 1.2rem;
	border-radius: 12px;
	color: white;
	font-weight: 500;
}

.hero .content a:hover {
	opacity: 0.9;
	transition: 0.2s;
}

.about,
.menu,
.contact,
.product {
	padding: 8rem 10% 1.2rem;
}

.about h2,
.menu h2,
.contact h2,
.product h2 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
	text-align: center;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.product h2 span {
	color: var(--primary-color);
}

.about .row {
	display: flex;
	gap: 1.5rem;
	margin-top: 2rem;
}

.about .row .about-img {
	flex: 1 1 45rem;
}

.about .row .about-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.about .row .content {
	flex: 1 1 50rem;
}

.about .row .content h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.about .row .content p {
	font-size: 1.2rem;
	margin-bottom: 0.8rem;
	font-weight: 300;
	line-height: 1.6;
}

.menu p,
.contact p,
.product p {
	text-align: center;
	max-width: 30rem;
	margin: auto;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.4rem;
}

.menu .row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 4rem;
	justify-content: center;
	gap: 1.8rem;
}

.menu .row .menu-card {
	text-align: center;
	padding-bottom: 4rem;
}

.menu .row .menu-card img {
	border-radius: 1rem;
	width: 90%;
}

.menu .row .menu-card img:hover {
	opacity: 0.6;
	transition: 0.2s linear;
}

.menu .row .menu-card .menu-card-title {
	margin: 1rem auto 1rem;
}

.product .row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1.5rem;
	margin-top: 2rem;
}

.product .product-card {
	text-align: center;
	background-color: #131b40;
	padding: 0.5rem;
	border-radius: 1rem;
}

.product .product-icons {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.product .product-icons a {
	width: 3.5rem;
	height: 3.5rem;
	color: #fff;
	margin: 0.3rem;
	border: 1px solid #131b40;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product .product-icons a:hover {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	transition: 0.2s;
}

.product .product-image {
	padding: 1rem 0;
}

.product .product-image img {
	height: 18rem;
	border-radius: 1rem;
}

.product .product-title h3 {
	font-size: 1.5rem;
}

.product .product-star {
	font-size: 1.2rem;
	padding: 0.8rem;
}

.product .product-price {
	font-size: 1.1rem;
	font-weight: 600;
	padding-bottom: 1rem;
}

.product .product-star .star-full {
	color: var(--primary-color);
	fill: var(--primary-color);
}

.product .product-price span {
	text-decoration: line-through;
	font-weight: lighter;
	font-size: 0.8rem;
}

.contact .row {
	display: flex;
	margin-top: 2rem;
	background-color: #131b40;
	padding: 2rem;
	border-radius: 1rem;
}

.contact .row .map {
	flex: 1 1 45rem;
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.contact .row form {
	flex: 1 1 45rem;
	padding-left: 2rem;
	text-align: center;
}

.contact .row form .input-group {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	background-color: var(--bg);
	border: 1px solid var(--bg);
	border-radius: 12px;
	padding-left: 1.5rem;
}

.contact .row form .input-group input {
	width: 100%;
	padding: 1rem;
	font-size: 1.4rem;
	background-color: var(--bg);
	color: #fff;
	border-radius: 12px;
	padding-left: 1.5rem;
}

.contact .row form .btn {
	padding: 1rem 3rem;
	border-radius: 12px;
	font-size: 1.2rem;
	display: inline-block;
	font-weight: 500;
	color: #fff;
	margin-top: 2rem;
	background-color: var(--primary-color);
	cursor: pointer;
}

.contact .row form .btn:hover {
	opacity: 0.9;
	transition: 0.2s;
}

/* Footer */
footer {
	background-color: var(--primary-color);
	text-align: center;
	padding: 1rem 0;
	margin-top: 4.5rem;
}

footer .social {
	padding: 0.5rem 0;
}

footer .social a {
	color: #fff;
	margin: 0 0.5rem;
	font-size: 1.3rem;
}

footer .social a:hover {
	color: var(--bg);
}

footer .links {
	margin-bottom: 0.5rem;
}

footer .links a {
	color: #fff;
	margin: 0 0.5rem;
	font-size: 1.2rem;
}

footer .links a:hover {
	color: var(--bg);
}

footer .credit {
	margin-bottom: 0.5rem;
}

footer .credit a {
	font-size: 0.8rem;
	color: #fff;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-container {
	position: relative;
	background-color: #131b40;
	margin: 12% auto;
	padding: 1.2rem;
	border-radius: 1rem;
	width: 80%;
	animation: animateModal 0.4s;
}

.modal-container .close-icon {
	position: absolute;
	right: 1rem;
}

.modal-content {
	display: flex;
	flex-wrap: nowrap;
}

.modal .close-icon {
	color: #fff;
}

.modal-content img {
	height: 20rem;
	border-radius: 1rem;
	margin-right: 1.4rem;
	margin-bottom: 2rem;
}

.modal-content h3 {
	font-size: 1.6rem;
}

.modal-content .product-star {
	margin-bottom: 1rem;
}

.modal-content p {
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin: 1.1rem 0;
}

.modal-content a {
	display: flex;
	gap: 1rem;
	align-items: center;
	width: 12rem;
	margin-top: 1rem;
	padding: 1rem 1.8rem;
	background-color: var(--primary-color);
	border-radius: 1rem;
	color: #fff;
}

.modal-content a:hover {
	opacity: 0.9;
	transition: 0.3s;
}

@keyframes animateModal {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* Media Queries Laptop */
@media (max-width: 1366px) {
	html {
		font-size: 90%;
	}
}
/* Media Queries Tablet */
@media (max-width: 800px) {
	html {
		font-size: 62.5%;
	}

	#hamburger {
		display: inline-block;
	}

	.navbar-container .navbar-nav {
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: #131b40;
		width: 16rem;
		height: 40vh;
	}

	.navbar-container .navbar-nav.active {
		right: 4.8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 1.5rem;
		margin: 1rem;
		border-radius: 1rem;
		gap: 1rem;
		transition: 0.3s;
	}

	.navbar-container .navbar-nav a {
		font-size: 1.5rem;
		display: inline-block;
		margin: 0.2rem;
	}

	.about .row {
		flex-wrap: wrap;
	}

	.about .row .about-img img {
		height: 24rem;
		object-fit: cover;
		object-position: center;
	}

	.about .row .content {
		padding: 0;
	}

	.about .row .content h3 {
		margin-top: 1rem;
		font-size: 2rem;
	}

	.about .row .content p {
		font-size: 1.6rem;
	}

	.menu p {
		font-size: 1.3rem;
	}

	.menu h3 {
		font-size: 1.8rem;
	}

	.contact .row {
		flex-wrap: wrap;
	}

	.contact .row .map {
		height: 30rem;
	}

	.contact .row form {
		padding-top: 2rem;
		padding-left: 0;
	}

	.contact .row form .btn {
		margin-top: 3rem;
		font-size: 1.3rem;
	}

	.navbar-container .search-form {
		width: 90%;
		right: 2rem;
	}

	.modal-content {
		flex-wrap: wrap;
	}
}
/* Media Queries Mobile */
@media (max-width: 450px) {
	html {
		font-size: 55%;
	}
}
